@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
h1
{
    font-family: rubik;
    text-align: left;
    color: white;
    font-size: 280%;
    
}
body
{
    background-image: url(https://am3pap005files.storage.live.com/y4mBfIrpawPkfx7tVUqccXJ1z0TAUPtNjlCRjklHBFHzJAtPcGRObSc3FE2AM7bDoMXnYv_p2Xu1HdvAAe2sbOfaS0b8_ipd6sUOXNf-NIYmb_z90ZrjCcqIZROm_KInczeIJ061_NZ3PB13Q8RQfSFzZIGmHMcrFt0oixQdl03MzYoRMsXL2p4qi6v6yEGkuZ4?width=4103&height=2735&cropmode=none);
    background-size: cover;
    background-repeat: no-repeat;
}
#rpo
{
    border-radius: 10%;
}
#fvf
{
    border-radius: 10%;
}
#caws
{
    border-radius: 10%;
}
#im
{
    border-radius: 10%;
}
#tsn
{
    border-radius: 10%;
}
#aeg
{
    border-radius: 10%;
}
#sh
{
    border-radius: 10%;
}
#shgs
{
    border-radius: 10%;
}
#aiw
{
    border-radius: 10%;
}
#av
{
    border-radius: 10%;
}
#am
{
    border-radius: 10%;
}
#amw
{
    border-radius: 10%;
}
#im3
{
    border-radius: 10%;
}
#ins
{
    border-radius: 10%;
}
#tm
{
    border-radius: 10%;
}
#tdk
{
    border-radius: 10%;
}